/* ------------------------------------ */
/* Styling for the Header */
/* ------------------------------------ */
.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

.bot-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.bot-name {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

/* ------------------------------------ */
/* Scrollable Categories */
/* ------------------------------------ */
.category-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

.category-btn {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 0 5px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  border-radius: 25px;
  transition: background-color 0.2s ease;
}

.category-btn:hover {
  background-color: #7a776e;
}

.category-btn.active {
  background-color: #5c5952;
}

/* ------------------------------------ */
/* Search Bar */
/* ------------------------------------ */
.search-bar {
  padding: 10px 20px;
  background-color: #1e1e1e;
}

#search-input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: white;
  outline: none;
}

/* ------------------------------------ */
/* Command Cards */
/* ------------------------------------ */
.command-card {
  background-color: #1e1e1e;
  border-radius: 25px;
  padding: 20px;
  margin: 25px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #b3b3b3;
}

.command-header {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.command-description {
  font-size: 0.9em;
  margin-top: 5px;
}

.divider {
  height: 2px;
  background-color: #333;
  margin: 15px 0;
}

/* ------------------------------------ */
/* Command Details */
/* ------------------------------------ */
.command-details {
  margin-top: 15px;
}

.details-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.details-title {
  font-weight: bold;
  color: #5c5952;
}

.details-value {
  color: #b3b3b3;
  margin-left: 0px;
}